<div class='container' style='padding-bottom: 20px;'>
	<h2>Options</h2>
</div>



What are the options you are considering (input up to 5 in any order):
<br>
<br>
<form action='/step_1a/submit' method='post'>
	Option 1: <input type='string' name='option_1'><br><br>
	Option 2: <input type='string' name='option_2'><br><br>
	Option 3: <input type='string' name='option_3'><br><br>
	Option 4: <input type='string' name='option_4'><br><br>
	Option 5: <input type='string' name='option_5'><br><br>
	<br>
	<input type='submit' class='btn-primary btn-large'>
</form>
